# node modules
node_modules

# IDE specific file
.vscode/

# environment variable files
**/.env

# macOS specific file
**/.DS_Store

# build output
.next/
out/

# testing coverage
coverage/

# miscellaneous
*.log
*.tgz
*.zip