@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Lato';
    src: url("/assets/fonts/Lato-Regular.woff2") format('woff2'),
        url('/assets/fonts/Lato-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #FAF9F6;
    font-family: "Lato", sans-serif;
    box-sizing: border-box;
    position: relative;
}

/* header nav-bar */
.nav-hover-bg:hover {
    color: #5F6F52;
    transition: 0.3s ease-in-out;
}

/* hero section */
.hero-btn--gray {
    background-color: #4A4947;
    color: #FFFFFF;
    padding-block: 0.5rem;
    padding-inline: 1rem;
    border-radius: 1.25rem;
}

.hero-btn--gray:hover {
    background-color: transparent;
    border: .0625rem solid #FFFFFF;
    transition: 0.3s ease-in-out;
}

.hero-btn--brown {
    background-color: #A67B5B;
    color: #FFFFFF;
    padding-block: 0.5rem;
    padding-inline: 1rem;
    border-radius: 1.25rem;
}

.hero-btn--brown:hover {
    background-color: transparent;
    border: .0625rem solid #FFFFFF;
    transition: 0.3s ease-in-out;
}

/* main section */
.main__quote {
    background-color: #FF7676;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.main__card-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    background-color: transparent;
    padding: 1rem;
    margin-bottom: 0; 

    &:hover {
        background-color: #EEEEEE;
        transition: 0.5s ease-in-out;
    }
}

.main__card-title {
    color: #A67B5B;
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.main__cta-btn {
    background-color: #FF7676;
    color: #FFFFFF;
    font-weight: bold;
    padding-block: 0.25rem;
    padding-inline: 1rem;
    border-radius: 1.25rem;

    &:hover {
        background-color: #4A4947;
        transition: 0.5s ease-in-out;
    }
}

/* carousel component */
.carousel__slide-title {
    color: #A67B5B;
    font-size: 1.125rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.carousel__btn {
    background-color: #A67B5B;
    color: #FFFFFF;
    border: none; 
    cursor: pointer;
}

.carousel__btn:hover {
    transition: 0.5s ease-in-out
}

/* floating button component */
.floating-button {
    position: fixed;
    background-color: #A67B5B;
    border-radius: 50%;
    padding: 0.7rem;
    bottom: 0;
    right: 0;
    margin: 1rem;
}

/* footer component */
.footer {
    background-color: #4A4947;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
}

.footer__title {
    color: #FF7676;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}

.footer__link:hover {
    color: #FF7676;
    transition: 0.5s ease-in-out;
}